    <style>
        h1{
            /*text-align:center;*/
        }
        p{
            width:100%;
            text-align:left;
        }
        #bottomrow{
            text-align:center;
        }
        body{
            background-color: #008080;
            color:#22262b!important;
        }
        .container{
            margin-top:20px;
            background-color:#c2d6d6;
            border-radius:5px;
            padding:15px;
        }  
        .btn{
            background-color: #ffd11a;
            color:black;
            border:none;
        }
        .btn-sm{
            margin-bottom:2.5%;
        }
        .btn:hover{
			background-color: #e6b800;
			border-color: #d9d9d9;
			color: black;		
		}
		.img{
            position: relative;
            float: left;
		}
       
        
    </style>
    </head>
    <body>
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Toolbox</a>
            </div>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="nav navbar-nav ">
                    <a class="nav-item nav-link active mr-sm-2" href="/"> Home </a>
                    <a class="nav-item nav-link active mr-sm-2" href="/buy">Buy a tool</a>
                    <a class="nav-item nav-link active mr-sm-2" href="/sell">Sell a tool</a>
                </div>
            </div>
        </nav>