   
<!--    <footer class="bd-footer">-->
<!--  <div class="container">-->
<!--    <p class=" my-2 my-sm-0">© 2018 Toolbox Inc.</p>-->
<!--    <ul class="bd-footer-links">-->
        
        

<!--    </ul>-->
<!--  </div>-->
<!--</footer>-->
<!--<div class="newrow">-->
    <style>
        footer{
            margin-top:50px;
            vertical-align: baseline;
            float:bottom;
            margin-bottom:0;
            text-align: center;
            display: block;
        }
        a:hover{
            color:black;
        }
        p{
            margin-bottom:8px;
        }
        #footer{
            text-align:center;
        }
    </style>
    <footer class="bd-footer">
      <!--<div class="container">-->
        <ul class="bd-footer-links">
            <p id="footer">© 2018 Toolbox Inc.</p>
            <a class="col-1" href="/privacy">Privacy Policy</a>
            <a class="col-1" href="/contact">Contact Us</a>
            <a class="col-1" href="/about">About</a>
            <a class="col-1" href="/legal">Terms of Use</a>
        </ul>
      <!--</div>-->
    </footer>
<!--</div>    -->
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
</body>
</html>