<option value="All Tools"                     >All Tools</option>
<option value="Power Tools"                   >Power Tools</option>
<option value="Power Tool Accessories"        >Power Tool Accessories</option>
<option value="Hand Tools"                    >Hand Tools</option>
<option value="Ladders and Scafolding"        >Ladders and Scafolding</option>
<option value="Measuring and Precision Tools" >Measuring and Precision Tools</option>
<option value="Pneumatic Tools"               >Pneumatic Tools</option>
<option value="Paint"                         >Paint</option>
<option value="Gardening Tools"               >Gardening Tools</option>

