        <style>
            h2{
                font-size:25px;
                color:#22262b!important;
            }
            h3, #h3{
                font-size:15px;
                text-align:center;
                color:#22262b!important;
            }
		    h4{
		        text-align:center;
		        font-size:12px;
		        color:red;
		        padding-bottom:5px;
		    }
		    h5{
                font-size:170px;
                color:#22262b!important;
            } 
            h6{
                font-size:13px;
                 color:#22262b!important;
            }
            .jumbotron{
                padding-top:5%;
                padding-bottom:5%;
                background-color:;
                text-align:center;
                color:#22262b!important;
            }
            
            input,textarea{
                background-color:#f0f5f5;
                width:100%;
                 color:#22262b!important;
            }
            .btn{
                background-color: #ffd11a;
                 color:#22262b!important;
                border:none;
            }
            .btn-sm{
                margin-bottom:2.5%;
            }
            .btn:hover{
				background-color: #e6b800;
				border-color: #d9d9d9;
			    color:#22262b!important;		
			}
            form{
                padding:1.7% .8%;
                font-size:13px;
                 color:#22262b!important;
            }
            a{
                background:none;
                color:white;
            }
        	body{
                background-color: #008080;
                color:#22262b!important;
        	}
        	#back{
                margin:15px;
            }
            #formcontainer{
                background-color:#c2d6d6;
                border-radius:5px;
            }
            #submit{
                text-align:center;
            }
            #im{
                margin-bottom:0;
            }
</style>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Toolbox</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample03">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link my-2 my-md-0" href="/">Home</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link my-2 my-md-0" href="/buy">Buy a tool</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link my-2 my-md-0" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>