 <%include partials/generalheader.ejs%>
<%include partials/homeheader.ejs%>
<%include partials/contactheader.ejs%>
<br><br>
<!--I dont think we should have an aboput page its kinda gay-->


<div class="col-md-1"></div>
<div class="container">
    <div class="jumbotron">
       <h1>About</h1>
        <p>
            Toolbox Inc. is a not for profit website thats is owned by trades workers, for trades workers. 
            With a simple design and interface we streamline the process of buying a tool and make it cheaper for everyone. 
        </p>
        <p>
            We are a rapidly expanding company and you can expect exciting new additions including job services, and rentals.
            We try to make everything as good as we can but if you find something is troubling you shoot us a quick email and we'll sort it out.
        </p>
        <form action="/contact" method = "GET">
            <div class="form-group">
                <button class = "btn"> Contact </button>  
            </div>
        </form>
    </div>
    

<%include partials/footer.ejs%>