<%include partials/generalheader.ejs%>
<%include partials/homeheader.ejs%>
	<header>
		<!--<img src="https://i.ytimg.com/vi/4hbANMr-HQE/maxresdefault.jpg" width=15% div align="right">-->
		<!--<br/>-->
	</header>
	
	<div class="jumbotron">
		<h1>
			<div align = "center"> Transform your Toolbox.</div>
		</h1>
	</div><br><br>
	<div class="container">
		<div class="row">
			<div class=" col-1">
			</div>
			<div class=" col-5 ">
				<a href="/buy"> <button class="button1">Buy</button></a>
			</div>
			<div class=" col-0 ">
			</div>
			<div class=" col-5 ">
				<a href="/sell"> <button class="button2">Sell</button></a>
			</div>
			<div class=" col-1 ">
			</div>
		</div>
	</div>
<%include partials/footer.ejs%>