<%include partials/generalheader.ejs%>
<%include partials/privacyheader.ejs%>
<%include partials/contactheader.ejs%>
<br><br>
<div class="col-md-1"></div>
<div class="container">
    <div class="jumbotron">
       <h1>Privacy</h1>
        <p>
            Toolbox Inc. does not take responsibility for damaged tools, or refunds. We suggest testing the tools at the owner's house and reaching an agreement prior to any transactions. Toolbox will not interfere 
            in any related afairs and trusts it's users, however if any serious issues come up please let us know.
            
        </p>
        <form action="/contact" method = "GET">
            <div class="form-group">
                <button class = "btn"> Contact </button>  
            </div>
        </form><br><br>
        
    </div>
    

<%include partials/footer.ejs%>