 <%include partials/generalheader.ejs%>
<%include partials/contactheader.ejs%>
<div class="col-md-1"></div><br><br>
<div class="container">
    <div class="jumbotron">
       <h1>Thank you</h1>
        <p>
            Thank you for your email we will reply as quickly as we can.
        </p>
        <form action="/" method = "GET">
            <div class="form-group">
                <button class = "btn"> Home </button>  
            </div>
        </form>
    </div>
    

<%include partials/footer.ejs%>